{% extends 'base_back.html.twig' %}

{% block title %} AddPostBack {% endblock %}

{% block body %}

<div class="inner-sidebar-header justify-content-center">
  
    <div class="d-grid gap-2">
        <a href="showPostBack" class="btn btn-primary" role="button">BACK</a>
      </div>
</a>
</div>
{{form(f)}}
{% endblock %}