{% extends 'base_back.html.twig' %}

{% block title %} AddPostBack {% endblock %}

{% block body %}

<div class="container-fluid pt-4 px-4" style="background-color: #191C24 ;">

  
    <div class="row g-4">
    <div class="d-grid gap-2">
      
      
      <div class="bg-secondary rounded h-100 p-4"></div>
        <a href="showPostBack" class="btn btn-outline-success m-2" role="button">BACK</a>
      </div>
</a>
</div>
{{ form(f, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }} 
{% endblock %}