
{% block title %} AddPost {% endblock %}

{% block body %}
<div class="inner-sidebar-header justify-content-center">
    <a href="showPost">

    <button class="btn btn-primary has-icon btn-block" type="button" data-toggle="modal" data-target="#threadModal">
        </svg> RETOUR
    </button>
</a>
</div>
{{form(f)}}



{% endblock %}