{% extends 'base.html.twig' %}

{% block title %} AddPost {% endblock %}

{% block body %}
<div class="inner-sidebar-header justify-content-center">
    <a href="showPost">

    <button class="btn btn-primary has-icon btn-block" type="button" data-toggle="modal" data-target="#threadModal">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"fill="none"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="nav-item nav-link">
        </svg> RETOUR
    </button>
</a>
{{ form(f, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }} 
</div>




{% endblock %}