{% extends 'base.html.twig' %}

{% block title %}Edit Chantier{% endblock %}

{% block body %}
    <h1>Edit Chantier</h1>

    {{ include('chantier_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_chantier_crud_index') }}">back to list</a>

    {{ include('chantier_crud/_delete_form.html.twig') }}
{% endblock %}
