{% extends 'base.html.twig' %}

{% block title %}New Chantier{% endblock %}

{% block body %}
    <h1>Create new Chantier</h1>

    {{ include('chantier_crud/_form.html.twig') }}

    <a href="{{ path('app_chantier_crud_index') }}">back to list</a>
{% endblock %}
