{# templates/email/confirmation_email.html.twig #}

<p>Dear Candidate,</p>

<p>Thank you for submitting your application. We have received your application and will review it shortly.</p>

<p>Best regards,</p>
<p>The Team</p>
